<nav class="navbar navbar-expand-sm navbar-light sm-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
	  <a class="nav-item nav-link active" routerLink="/exercise1">Observables <span class="sr-only">(current)</span></a>
	  <a class="nav-item nav-link active" routerLink="/behaviorsubject">Behavior Subject<span class="sr-only">(current)</span></a>
	  <a class="nav-item nav-link active" routerLink="/commonfunctions/4">Common Functions <span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
